body {
  background: #93d5da;
}

.slider {
  border-radius: 5px;
  background: #E0E0E0;
  /* background: linear-gradient(to right bottom, #E0E0E0, #a409bf); */
  width: 310px;
  height: 15px;
  margin: 5px;
}

.thumb {
  width: 10px;
  height: 25px;
  border-radius: 3px;
  position: relative;
  left: 10px;
  top: -5px;
  background: blue;
  cursor: pointer;
}